<h2>My Clubs</h2>
<ul class="clubs">
  <li *ngFor="let club of clubs">
    <a routerLink="/detail/{{club.id}}">
      <span class="badge">{{club.id}}</span>{{club.name}}
    </a>
  </li>
</ul>
<div>
  <label>Club name: </label>
  <input id="new-name" #clubName/>
  <br>
  <label>Club manager: </label>
  <input id="new-manager" #manager/>
  <br>
  <label>Founded: </label>
  <input id="new-founded" #founded/>
  <button class="add-button"
          (click)="
              add(clubName.value,manager.value,founded.value);
              clubName.value='';
              manager.value='';
              founded.value='';
      ">
    Add Club
  </button>
</div>
